body {
  background-color: #0d1821;
}

.logo-name {
  height: 6rem;
  padding-bottom: 3rem;
}

.splash-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fbf5ee;
}

a {
  color: #90c1e4;
  text-decoration: none;
}